* {
    cursor: pointer;
}

body {
    border: 5px solid black;
    border-radius: 15px;
    background-color: darkcyan;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 100px 1fr 100px; 
  }
  #category {
    font-size: 50px;
    height: fit-content;
    text-align: center;
  }
  #difficulty {
      font-size: 50px;
      text-align: center;
      height: fit-content;
      width: 100%;
  }
  #question {
    font-size: 35px;
    width: fit-content;
    height: fit-content;
    text-align: center;
     
    
      
  }
  #answer {
      font-size: 40px;
  }
  h1 {
      text-align: center;
      display: grid;
  }
  h2{
      text-align: center;
      display: grid;
      font-size: 100px;
  }

p {
    border: 5px solid black;
    border-radius: 15px;
    height: 50px;
    font-size: larger;
    display: block;
}
button {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding-inline: 50px;
    display: center;
}

#scoreTab {
    text-decoration-style: solid;
    border-radius: 15px;
    border: 5px solid black;
    width: 150px;
    text-align: center;
}
#top-row {
    display: grid;
}
#lower {
    padding: 25px;
    display: flex;
    display: block;
    align-content: flex-end;
}
